@import "tailwindcss";

:root {
  --ff: "Inter", sans-serif;
  --color-primary: hsl(44, 50%, 90%); 
  --color-secondary: hsl(43, 61%, 16%); 
  --color-tertiary: hsl(104, 80%, 20%); 
  --color-accent: hsl(344, 61%, 34%); 
  --fs-base: 1rem;      
  --fs-sm: 0.875rem;     
  --fs-lg: 1.125rem;     
  --fs-xl: 1.25rem;      
  --lh: 1.4em;

  body {
    font-family: var(--ff);
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}

.dark {
  --color-primary: hsl(44, 50%, 10%); 
  --color-secondary: hsl(44, 50%, 90%); 
  --color-tertiary: hsl(104, 80%, 80%); 
  --color-accent: hsl(344, 80%, 80%); 
  body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
}